body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.bg-danger {
  background-color: #dc3545 !important;
  color: white;
}

.bg-warning {
  background-color: #ffc107 !important;
  color: black;
}

.bg-success {
  background-color: #28a745 !important;
  color: white;
}

.bg-white {
  background-color: #ffffff !important;
  color: black;
}

